<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the chat!</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
<div class="content">
    {% block content %}
    {% endblock %}
</div>

<div>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>
                    <strong> {{ message.author }}: </strong> "{{ message.content }}"
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No messages yet.</p>
    {% endif %}
</div>

<div>
    <form method="post" action="/message">
        <label for="author">Name:</label>
        <input type="text" id="author" name="author" required>
        <br>
        <br>
        <label for="content">Message:</label>
        <input type="text" id="content" name="content" required>
        <br>
        <br>
        <button type="submit">Send</button>
    </form>
</div>

</body>
</html>